<div class="spot-events" style="border-bottom: solid 1px rgb(190, 189, 186); padding-bottom: 10px">
  <h5><strong>Upcoming Events</strong></h5>
  <div class="d-flex small">
    <ul>

      <% @spot.events.each do |event| %>
        <li>
          <% if event.spot = @spot %>
          <strong><%= link_to event.name, spot_event_path(@spot, event) %> </strong> | Date:<%= event.event_date %>
          <br> <%= event.description %>
          <% end %>
        </li>
        <% end %>
    </ul>
  </div>
</div>
