<div class="spot-events" style="border-bottom: solid 1px rgb(190, 189, 186); padding-bottom: 10px">
  <h5><strong>Upcoming Events</strong></h5>
  <div class="d-flex small">
    <ul>
      <li>
        <strong>Highest Jump</strong> | Date: 12.Apr.2018
         <p>this is a short description of the event</p>
      </li>
      <li>
        <strong>Back From Summer</strong>
         | Date: 12.Apr.2018
        <p >this is a short description of the event </p>
      </li>
      <li>
        <strong>Trashing Trail</strong>
         | Date: 12.Apr.2018
        <p >this is a short description of the event </p>
      </li>
    </ul>
  </div>

  <!-- TODO: add @event.count -->
  <div class="event-show-page small">
    <strong>See all 3 events</strong>
  </div>
</div>
