<div class="spot-events" style="border-bottom: solid 1px rgb(190, 189, 186); padding-bottom: 10px">

  <h5>
    <div class="col-md-7 no-padding">
      <strong>Upcoming Challenges</strong>
    </div>

    <div class="col-md-5">
      <%= link_to "Create challenge", new_event_path, class: "fas fa-plus-square btn-sm btn-custom btn-success" %>
    </div>
  </h5>

  <br>
  <div class="d-flex small">
    <ul>

      <% @spot.events.each do |event| %>
        <li>
          <% if event.spot = @spot %>
          <strong><%= link_to event.name, spot_event_path(@spot, event) %> </strong> | Date:<%= event.event_date %>
          <br> <%= event.description %>
          <% end %>
        </li>
        <% end %>
    </ul>
  </div>
</div>
