  <div class="Perks">
    <div class="row">
        <div class="col-sm-6 col-md-4">
        <i class="fas fa-calendar-alt" alt="stakes" width="80" height="80"></i>
        <h3 class="Perks__heading">Skates</h3>
        <p class="Perks__text">Find that special skatepark around your area of choice.</p>
      </div><!-- /.col-md-4 -->

      <div class="col-sm-6 col-md-4">
        <i class="fas fa-user-friends" alt="friends" width="80" height="80"></i>
        <h3 class="Perks__heading">Friends</h3>
        <p class="Perks__text">Home is where you park it, so spend time anywhere with locals. </p>
      </div><!-- /.col-md-4 -->

      <div class="col-sm-6 col-md-4">
        <i class="fas fa-globe" alt="global" width="80" height="80"></i>
        <h3 class="Perks__heading">Events</h3>
        <p class="Perks__text">Join events, make friends!</p>
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div>
