<div class="spot-title">
  <h4><strong><%= @spot.name %></strong></h4>
  <p><%= @spot.address %></p>
</div>

<div class="spot-details" style="border-bottom: solid 1px rgb(190, 189, 186); padding-top: 5px">
  <p><strong>Description: </strong><%= @spot.description %></p>
</div>
