<div class="spot-title">
  <h4><strong><%= @spot.name %></strong></h4>
  <p><%= @spot.address %></p>
</div>

<div class="spot-details">

  <!-- TODO: <%#= @spot.description %> -->
  <p><strong>Description: </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate harum similique repellat rem voluptate quam pariatur inventore eligendi aperiam laborum officia deserunt, repudiandae aut reiciendis impedit ut vitae sint?</p>

</div>

