<section class="container-fluid spot-wrapper-body">
  <h2>Explore and find your favorite skatespots (<%= @spots&.count %>)</h2>

  <div class="col-md-8 Cards">
    <div class="Cards__grid">
      <div class="row">
        <% @spots&.each do |spot|  %>
          <div class="col-md-4 grid-item">
            <%= render 'shared/card', spot: spot %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4 Map Cards__map">
    <div class="Map__inner card bg-map no-padding">
      <div id="map"
        style="width: 100%;"
        data-markers="<%= @markers.to_json %>">
      </div>
    </div>
  </div>
</section>
