<section class="boats__forms">
    <div class="container form-container">
      <div class="col-md-6">
        <h1>Add a new skate spot </h1>
        <%= render 'form' %>

        <%#= react_component("Form", { action: '/boats', authenticity_token: form_authenticity_token }) %>
        <div class="small" style="margin: 16px 0;">
          <%#= link_to "Go back to the spot list without saving", spots_path %>
        </div>
      </div>
    </div>
  </section>
<%#= content_for(:after_js) do %>
  <%#= javascript_pack_tag 'server_rendering' %>
<%# end %>
