<div class="container-favorites">
  <div class="row user-row">
    <div class="col-xs-12 col-md-3 user-card">
      Card 1 - Placeholder
    </div>
    <div class="col-xs-12 col-md-3 user-card">
      Card 1 - Placeholder
    </div>
    <div class="col-xs-12 col-md-3 user-card">
      Card 1 - Placeholder
    </div>
  </div>
</div>
