<div class="favorite-card">
  <div class="row">
    <div class="favorite-box">
      <div class="favorite-image">
        <img align="left" width="80" height="80" class="img-circle" src="https://images.unsplash.com/photo-1514850884497-a353f6397b30?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=87bd6bdfc6ee74acf7a7f74ccc8383c0" class="img-responsive" alt="Profile image"/>
      </div>

      <div class="favorite-body" style="border-bottom: solid 1px rgb(190, 189, 186); padding-top: 5px">
        <!-- TODO: Add @spot.name -->
        <p><strong>Budapest downtown skatepark</strong></p>
        <!-- TODO: Add @spot.description -->
        <p>Best spot for professional skaters. Come join us!</p>
        <!-- TODO: Add spot rating and likes-->
        <p>5 <i class="fas fa-star" style="color: #ffb400;"></i>  |  2000 <i class="fas fa-heart color-grey-text" style="color: rgb(203, 27, 27);"></i></p>
      </div>
    </div>
  </div>
</div>


<!-- TODO: Delete everything below this  -->

<div class="favorite-card">
  <div class="row">
    <div class="favorite-box">
      <div class="favorite-image">
        <img align="left" width="80" height="80" class="img-circle" src="https://images.unsplash.com/photo-1514850884497-a353f6397b30?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=87bd6bdfc6ee74acf7a7f74ccc8383c0" class="img-responsive" alt="Profile image"/>
      </div>

      <div class="favorite-body" style="border-bottom: solid 1px rgb(190, 189, 186); padding-top: 5px">
        <!-- TODO: Add @spot.name -->
        <p><strong>Berlin downtown skatepark</strong></p>
        <!-- TODO: Add @spot.description -->
        <p>Best spot for professional skaters. Come join us!</p>
        <!-- TODO: Add spot rating and likes-->
        <p>5 <i class="fas fa-star" style="color: #ffb400;"></i>  |  1782 <i class="fas fa-heart color-grey-text" style="color: red;"></i></p>
      </div>
    </div>
  </div>
</div>
