// Define variables for your color scheme

// TODO: Update color them

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$primary: #5757ff;
$secondary: #ff61ab;
$success: #46cf7b;
$error: #ff5572;
$dark: #2a2a30;
$gray-text: #bbbccd;
$gray-disabled: #dddde6;
$gray-border: #e7e7f0;
$gray-background: #f3f3f9;
$white: #fff;

$colors-map: (
  primary: #5757ff,
  secondary: #ff61ab,
  success: #46cf7b,
  error: #ff5572,
  dark: #2a2a30,
  grey-text: #bbbccd,
  grey-disabled: #dddde6,
  grey-border: #e7e7f0,
  grey-background: #f3f3f9,
  white: #fff,
);

$navbar-height: 60px;
