<section class="spots spot-wrapper-body">
  <h2>My favorite skatespots</h2>

  <div class="row">
    <div class="container-fluid">
      <% if @spots.present? %>
        <div class="Cards">
          <div class="Cards__grid">
            <% @spots&.each do |spot|  %>
              <div class="col-md-3 grid-item">
                <% if spot.favorites.last.present? %>
                  <%= render 'shared/card', spot: spot %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="Map Cards__map">
            <div class="Map__inner">
              <div id="map"
                style="width: 100%;"
                data-markers="<%= @markers.to_json %>">
              </div>
            </div>
          </div>
      <% else %>
        <h4>You can add your favorite spots here</h4>
      <% end %>

      </div>
    </div>
  </div>
</section>
