.spot-flexbox {
  margin: 10px 10px
}

.user-review-avatar .user-review-name {
  display: flex;
  align-items: center;
  flex-direction: row
}

.user-review-content {
  flex: 1 0;
  margin-left: 5px;
}

.spot-img {
  background-image: cover;
}

// spot show page pictures size
.tales {
  width: 100%;
  height: 100%
}
.carousel-inner{
  width:100%;
}
.img-responsive.img-center {
  margin: 0 auto;
}

.carousel-indicators .active {
  width: 9px;
  height: 9px;
}

@media screen and (min-width: 768px) {
  .carousel-indicators {
      bottom: 5px !important;
  }
}

.container-main-cards {
  padding: 1px 0px;
}

.spot-wrapper-body {
  margin-top: 30px;
  margin-bottom: 100px
}

.event-wrapper-body {
  padding: 0 30px 0 30px;
}

// Style for event section in spot card

.event-show-page {
  text-align: right
}

// Style for spots#index page
.spot-index-title {
  padding-top: 15px;
  padding-bottom: 25px;
  color: grey;
}

.Cards__grid {
  margin-right: 20px;
}

.container-index {
  // padding-left: 25px;
  // padding-right: 15px;
  padding-bottom: 40px
}

.wrapper-body {
  padding-bottom: 40px;
  display: flex;
}


.Cards {
  padding-left: 40px
}

.Cards__map {
  height: 100%;
  padding-right: 20px;
  position: sticky;
  top: 5px;
}

.cards-body {
  width: 830px;
  margin-left: 60px
}


// Specific CSS for your home-page
.Perks {
  background-color: $white;
  text-align: center;
  padding-bottom: 20px;

}

// Style for Index Favoriate page

.container-index-fav {
  padding-left: 220px;
  padding-right: 220px
}

.spot-index-title-fav {
  padding-top: 15px;
  color: $primary;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}

.spot-index-title-fav {
  margin-bottom: 40px
}

.background-fav {
  background: linear-gradient(0deg, rgba(255, 254, 254, 0.88) 0%, rgba(255, 255, 255, 0.7) 97%), url('https://images.unsplash.com/photo-1476344988293-1d5501af75a6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4d4ec573b738c4c9b10fd7850a489d9a&auto=format&fit=crop&w=800&q=100');
  background-size: 100%;
  height: calc(100vh - 76px - 95px);
}
