<section class="Spots">
  <div class="container">
    <h2 class="Spots__heading">Recently Added Spots</h2>
    <div class="row">
      <% @spots.limit(3).each do |spot| %>
        <div class="col-sm-6 col-md-4">
          <%= render 'shared/card', spot: spot %>
        </div>
      <% end %>
    </div>
  </div>
</section>
