<section class="Cta">
  <div class="container">
    <h2 class="Cta__title">Ready to shred?</h2>
    <%= link_to 'Sign up for free', new_user_registration_path, class: "btn btn-success btn-lg"  %>
  </div>
</section>
