<div class="Featurette">
  <section class="Featurette__content">
    <div class="container">
      <div class="row Featurette__inner  d-flex align-center">
        <div class="col-md-6">
          <h2>Feature 1 intro</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-6">
          <img
            class="img-responsive"
            src="https://images.unsplash.com/photo-1524054791722-eadb60c13eb1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d24d6da2f861792716279a80a790d4c&auto=format&fit=crop&w=1050&q=80"
            alt="alt">
        </div>
      </div>
    </div>
  </section>
</div>
