<div class="Featurette">
  <!-- <div class="Featurette__skew"></div> -->
  <section class="Featurette__content home-banner-image">

    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://images.unsplash.com/photo-1525973604802-86e68c823924?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=82d807fb034755af045fa329d7c2e75e&auto=format&fit=crop&w=1050&q=80");">

    <div class="container">
      <div class="Featurette__inner row d-flex align-center">

        <div class="col-md-6">
          <h2>Feature 1 intro</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>
