.form-registration {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 39px; // This is needed so that notifications won't overlap the form!
}

.Form--text {
  margin-top: 16px;
  text-align: center;
}
