body {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: $brand-primary;
  color: $white;
}

// Sticky footer
// Adjusts the position of the main content
.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    margin-top: $navbar-height;
    flex: 1;
  }
}
