<%= link_to spot_path(spot), class: "Card" do %>
  <div class="Card__inner">
    <figure class="Card__img">
      <% if spot.photos.present? %>
        <% spot.photos.each do |photo| %>
          <%= cl_image_tag photo.url %>
        <% end %>
      <% end %>
    </figure>

    <div class="Card__body">
      <h3 class="Card__title"><%= spot.name %></h3>
      <div class="Card__meta">
        <div class="Card__rating">
          <div class="d-flex">
            <% if spot.reviews&.blank? %>
              <p class="small">0 <i class="fas fa-star" style="color: #ccc"> </i></p>
            <% else %>
              <% spot.average_rating %><i class="fas fa-star" style="color: #ffb400;"></i>
            <% end %>
            <p class="small"> | <%= pluralize(@number_of_likes, "")%> <i class="far fa-heart"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
