<div class="footer">
  <div class="footer-container container">
    <ul class="list-inline">
      <li><a class="footer-link" href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a class="footer-link" href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a class="footer-link" href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a class="footer-link" href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    <ul class="list-inline footer-copyright">
      <li><a class="footer-link" href="#">About us</a></li>
      <li><a class="footer-link" href="#">Terms</a></li>
      <li><a class="footer-link" href="#">Privacy</a></li>
    </div>
  </div>
</div>
