/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  position: absolute;
  top: $navbar-height;
  left: 0;
  width: 100%;
  text-align: center;
  border: 0;
  border-radius: 0;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
