.alert {
  margin: 0;
  text-align: center;
  color: $white;
  position: absolute;
  top: $navbar-height;
  left: 0;
  width: 100%;
  border: 0;
  border-radius: 0;
}

.alert-info {
  background: $success;
}

.alert-warning {
  background: $error;
}
