.video {
 z-index: -10;
 position: fixed;
 top: 50%; left: 50%;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
 opacity: 90;
}

.Banner {
  padding: 100px;
  z-index: -1;
  position: relative;
  margin-top: -#{$navbar-height};

  // &__bg {
  //   position: absolute;
  //   background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  //   width: 100%;
  //   height: 100%;
  //   overflow: hidden;
  //   transform: skewY(-7deg);
  //   transform-origin: 0;
  // }

  &__content {
    margin-top: -7%;
    position: relative;
    width: 100%;
    height: 100vh;
    color: $white;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__body {
    max-width: 762px;
    margin-right: auto;
  }

  &__heading {
    font-size: 66px;
    font-weight: bold;
  }

  &__leading {
    font-size: 20px;
    margin-bottom: 16px;
  }

  &__form {
    max-width: 450px;
    border-radius: 6px;
    box-shadow: 0 15px 46px rgba(26, 26, 29, 0.3), 0 15px 90px rgba(0, 0, 0, 0.2);
  }

  &__input-group {
    display: flex;
  }

  &__input {
    height: 52px;
    font-size: 18px;
    border: 0;
  }

  &__btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.home-banner-image{
  background-image: url("home-banner-img.jpg")
}

.ap-dropdown-menu {
  color: $dark;
}
