.Card {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 30px;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }

  &__inner {
    background: $white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    height: 380px;
  }

  &__img {
    margin: 0;
    background: $dark;
    position: relative;
    overflow: hidden;
    height: 280px;

    > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }

    &::after {
      content: "";
      display: block;
      height: 0;
      width: 100%;
      padding-bottom: percentage(9 / 16);
    }
  }

  &__body {
    padding: 24px 16px;
    background-color: $white;
    height: 103px;
  }

  &__title {
    margin: 0;
    font-size: 21px;
    line-height: 1.5;
    font-weight: bold;
  }

  &__price {
    font-size: 14px;
    line-height: 1.5;
    color: $success;
  }

  &__rating-text {
    margin-left: 8px;
    font-size: 12px;
    color: $gray-text;
  }

  &__meta {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.event-card {
  padding: 10px;
}
// Lazyload blur up styles
.ls-blur-up-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-family: "blur-up: always", "object-fit: cover";
  object-fit: cover;
  filter: blur(10px);
  opacity: 1;
  transition: opacity 1000ms, filter 1500ms;

  &.ls-inview.ls-original-loaded {
    opacity: 0;
    filter: blur(5px);
  }
}

.button-participant-card {
  padding: 2px;
  margin: 2px;
}

.event-time-card {
  color: $error;
}

.btn-custom {
  border-color: $brand-success
}
