.card {
    height: 80vh;
    padding: 40px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.main-card-image {
  background-color: white;
  margin: 0%;

}

.scrollable {
  overflow: auto;
}

.bg-skate {
  // background-image: url("skating_california.jpg");
  // background-size: cover;
  width: 100%;
  padding: 0px !important;
  object-fit: cover;
}

#map {
  height : 100%;
  width : 100%;
  z-index : 200;
}

.no-padding {
  padding: 0px;
}
