.card {
    height: 900px;
    padding: 40px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.main-card-image {
  background-color: white;
  margin: 0%;

}

.bg-skate {
  background-image: url("skating_california.jpg");
  background-size: cover;
}

.bg-map {
  background-size: cover;
}
