.card {
    height: 80vh;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.main-card-image {
  background-color: white;
}

.scrollable {
  overflow: auto;
}

.bg-skate {
  width: 100%;
  padding: 0px !important;
  object-fit: cover;
}

#map {
  height : 720px;
  width : 100%;
  z-index : 200;
  // padding-left: 30px
}

.main-card-image-uploadedby-text {
  font-size: 16px;
  margin: 2px;
}

.main-card-image-likes {
  margin: auto;
  width: 50;
  position: relative;
}

.main-card-image-likes-text {
  text-align: center;
  font-size: 16px;
  margin: 2px;
}

.main-card-image-likes-button a {
  color: $brand-success;
  font-size: 16px;
}

.main-card-image-likes-button {
  font-size: 16px;
  color: $brand-success;
}

.main-card-image-like::after {
  content: "";
  background-image: linear-gradient($secondary);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.no-padding {
  padding: 0px;
}
