<!-- TODO: Remove? -->
<!-- <div class="d-flex">
  <div id="rater"></div>
  <%# (1..5).to_a.each do |el| %>
    <%# if el <= review.rating %>
      <i class="fas fa-star" style="color: #ffb400"></i>
    <%# else %>
      <i class="fas fa-star" style="color: #ccc"></i>
    <%# end %>
  <%# end %>
</div> -->
