<div class="submit-review" style="border-bottom: solid 1px rgb(220, 224, 223)">
  <%= simple_form_for([@spot, @review], remote: true) do |f| %>
    <label for="review">How was your experience?</label><br>
    <div id="rater"></div>
    <%# f.input :rating %>
    <%# f.select :rating, options_for_select([["Please select one", ""], 5, 4, 3, 2, 1]) %>

    <%= f.input :content, placeholder:"Please enter your review here" %>
    <%= f.submit "Submit", class: "btn btn-default" %> <br><br>
  <% end %>
</div> <br>

<%= javascript_pack_tag 'rater' %>
